[mysqld]
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci

log-error=/dev/stdout
log_queries_not_using_indexes=true
general_log=true
general_log_file=/dev/stdout
slow_query_log=true
slow_query_log_file=/dev/stdout
long_query_time=1.0

performance_schema=false
table_definition_cache=400
